.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.search-label {
    background-color: white;
    padding: 11px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}

.search-input {
    width: 800px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
    border: none;
}

.search-button {
    font-size: 27px;
    font-weight: bolder;
    width: 60px;
    background-color: #533A95;
    border: none;
    padding: 2px;
    border-radius: 0 5px 5px 0;
}

.search-drop-down {
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 0px 5px 2px gray;
    width: 770px;
    margin-left: 60px;
    line-height: 1.2;
    position: absolute;
}

.search-drop-down-category {
    margin-bottom: 7px;
}

.search-drop-down-title {
    color: #533A95;
    font-size: 18px;
}

.search-drop-down-item {
    font-weight: 600;
}

.search-drop-down-item:hover {
    cursor: pointer;
}