.businesses-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.business-index-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5px;
  box-shadow: 0 1px 0px 0 gray;
  display: flex;
  width: 300px;
  height: 100%;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 550;
}

.business-index-image {
  height: 150px;
}

.business-index-title {
  padding-right: 10px;
  color: #533A95;
}

.business-index-description {
  padding: 10px;
  line-height: 1.5;
  color: black;
  font-size: 15px;
}

.business-index-num-reviews {
  font-size: 14px;
  color: gray;
}

.business-index-rating-container {
  display: flex;
}