.businesses-container {
  display: flex;
  flex-direction: column;
}

.business-index-container {
    border: solid lightgray 1px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 gray;
    padding: 15px;
    display: flex;
    width: 50%;
    height: 75px;
    margin: 10px auto;
    color: #452487;
    font-size: 16px;
    font-weight: 700;
    font-family: impact, fantasy;
}

.business-index-title {
  width: 30%;
  padding-right: 10px;
}

.business-index-description {
  width: 65%;
}

.business-index-review-body {
  overflow: hidden;
  height: 33px;
}