.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.filter-header {
    font-size: 21px;
    color: #533A95;
    margin-bottom: 15px;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    width: 130%;
    padding-bottom: 10px;
}

.locaiton-filter-item {
    font-weight: 650;
}

.location-filter-text {
    font-size: 15px;
}

.business-type-filter-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid lightgray 1px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    background-color: white;
}

.business-type-img {
    height: 85%;
}

.business-type-filter-text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    font-weight: 1000;
}