.nav-bar {
    display: flex;
    width: 100%;
    box-shadow: 1px 0px 10px 2px gray;
    background-color: #81cef9;
    margin: 0 0 4px 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-logo {
    display: flex;
    align-content: center;
    margin: 0 0 0 12px;
    height: 55px;
}

.nav-logo-src {
    width: 85px;
}

.session-buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 55%;
}

.session-button {
    height: 100%;
    padding: 1px 3px;
    margin: 0 5px 0 13px;
    border: solid white 1px;
    border-radius: 4px;
    color: #452487;
    font-size: 16px;
    font-weight: 700;
    font-family: impact, fantasy;
    background-color: transparent;
}

a.session-button {
  padding: 3px;
}

button.session-button:hover{
  transition-duration: 1s;
  color: #81cef9;
  background-color: white;
}

a.session-button:hover{
  transition-duration: 1s;
  color: #81cef9;
  background-color: white;
}

