.session-container {
    margin: 200px auto 0;
    width: 1000px;
    display: flex;
}

.session-details {    
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-form {
    display: flex;
    flex-direction: column;
}

.session-label {
    display: flex;
}

.session-input {    
    width: 80%;
    margin: 9px auto;
    padding: 5px;
    border-radius: 4px;
}

.session-name-section {
    display: flex;
    width: 89%;
    margin: auto;
}